<% provide(:description, "ドメイン取得料金を一発で検索！今までになかった新しいドメイン料金の比較サイトです。取得可否から、取得料金、その後の更新費用までを簡単に検索・比較できます。さああなたも！") %>
<% provide(:title, "About") %>
<div class="row align-items-center">
  <div class="mt-3 mb-3 col">
    <h1 class="display-4">世界に一つだけのドメインを最安の価格で</h1>
    <p class="lead text-center">今までにないドメイン料金の比較サービス</p>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <div class="box border rounded-lg border-success p-3 m-2">
      <p class="text-center h4">なるべく安く取得したい</p>
      <p>５大レジストラでの取得料金を１つのサイトで比較するので、早く、安くドメインが取得できます。</p>
    </div>
  </div>
  <div class="col-md-6 offset-md-1">
    <div class="box border rounded-lg border-warning p-3 m-2">
      <p class="text-center h4">将来的にもお得なレジストラを使いたい</p>
      <p>取得料金だけでなく、今後の更新に必要となる更新料金も比較することが可能です。さらに、取得後５年間で支払う総額をグラフで比較できます。</p>
    </div>
  </div>
</div>
<div class="row align-items-center">
  <div class="col-md-7">
    <p class="lead">そういった希望をかなえることを目指すサービスです。ドメインの料金比較が一層簡単にできる！</p>
    <p class="lead">現在は５大レジストラにのみ対応していますが、順次対応レジストラを広げる予定です。</p>
  </div>
  <div class="col-md-4 offset-md-1 pt-3">
    <div class="box rounded-lg">
      <%= image_tag 'computer.jpg', class: "img-fluid rounded-lg" %>
    </div>
  </div>
</div>
<div class="row mb-5 align-items-ceter">
  <div class="col">
    <p class="lead">公式ツイッターでも発信しています。</p>
    <%= render 'follow_twitter' %>
  </div>
</div>
<hr>
<div class="row mt-5 pt-5">
  <p>検索は<%= link_to "利用規約", terms_path %>を読み、同意された上でご利用ください。</p>
</div>
<div class="row align-items-center">
  <div class="col mx-auto">
    <%= render 'search_form' %>
  </div>
</div>
<div class="row align-items-center mt-3 mb-3">
  <div class="col">
    <small>※５大レジストラ：お名前.com・ムームードメイン・バリュードメイン・エックスドメイン・スタードメイン</small>
    <small>※最安の価格：上記５レジストラにおいての最安価格</small>
    <small>※レジストラ：ドメインの登録業者（リセラーも含む）</small>
  </div>
</div>
