<% provide(:description, "レジストラ５社のドメイン取得料金を比較できます。取得料金だけでなく、取得可否から将来的な料金まですべてが分かる！さあ検索してあなたの取りたいドメイン名を最安で取得！") %>
<% provide(:title, "最安値が分かる！ドメイン料金を比較！") %>
<style media="screen">
  body{
    background-image: url('/background.jpg');
    background-size:cover;
  }
  body::before{
    background: rgba(0,0,0,.1);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
  }
</style>
<section>
  <h1 class="display-3 text-white">5社のドメイン価格を比較！</h1>
  <p class="lead">お名前.com・ムームードメイン・バリュードメイン・エックスドメイン・スタードメインの価格情報をすぐに簡単に</p>
</section>
<section>
  <p>検索は<%= link_to "利用規約", terms_path %>を読み、同意された上でご利用ください。</p>
  <%= render 'search_form' %>
</section>
