<% provide(:title, "最安値が分かる！ドメイン料金を比較！") %>
<div class="row align-items-center">
  <span class="col-12 topDesc lead mx-auto pt-3">
    主要レジストラ（お名前.com・ムームードメイン・バリュードメイン・エックスドメイン）のドメイン価格を比較！
    <br>
    取得可否も分かる！
  </span>
  <small class="col-12 pb-3">
    ※価格を保証するものではありません
  </small>
  <div class="col mx-auto">
    <%= render 'search_form' %>
  </div>
</div>
