@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

$sub: #eeeeee;
$main: #000000;

td, th{
  width: auto;
  color: #808080;
}
header{
  margin-bottom: 10px;
}
footer{
  background-color: $sub;
}

.btnMain{
  border-color: $main;
}
.btnMain:hover{
  background-color: $main;
  color: #ffffff;
}
.tablePricing{
  width: auto;
}
.cheapest{
  color: red;
  font-weight: bold;
}
.cheapest::after{
  content: "（最安）";
  color: red;
  font-weight: normal;
  font-size: small;
}
