@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

$sub: #eeeeee;
$main: #000000;
$font-family-base: '-apple-system,Segoe UI,Helvetica Neue,Hiragino Kaku Gothic ProN,"メイリオ",meiryo,sans-serif';

td, th{
  width: auto;
  color: #808080;
}
header{
  margin-bottom: 10px;
  background-color: $main;
}
footer{
  background-color: $sub;
}

.btnMain{
  border-color: $main;
}
.btnMain:hover{
  background-color: $main;
  color: #ffffff;
}
.tablePricing{
  width: auto;
}
