<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body class="d-flex flex-column" style="min-height: 100vh;">
    <%= render 'layouts/header' %>
    <div class="container flex-fill">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
